.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 180px;
  max-width: 480px;
  gap: 24px;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 480px;
  gap: 24px;
  align-items: center;
}

.contentDetails {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 120px;
  max-width: 480px;
  align-items: center;
}

.button {
  max-width: 253px;
  margin-bottom: 80px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.inlineButton {
  padding: 0;
}

.profileContent {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 120px;
  max-width: 860px;
  justify-content: flex-start;
  align-items: flex-start;
}

.profileNav {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding-right: 60px;
  justify-content: flex-start;
}

.profileEdit {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 24px;
  align-items: flex;
}

.linkText{
  text-decoration: none;
  color:inherit;
}

.buttonText {
  cursor: pointer;
}

.feedContainer {
  padding-top: 40px;
  width: 1248px;
  margin: 0 auto;

}

.feedWrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}