.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 272px;
    height: 208px;
    cursor: pointer;
    color: #f3f3f2;
    text-decoration: none;
}

.image {
    width: 240px;
}

.link {
  text-decoration: none;
}